@model web_blog.Models.AdminViewModels.IndexViewModel
@using PagedList.Core.Mvc
@using web_blog.Data;

@{
    int numberPage = (int)ViewBag.NumberOfPages;
    Filter filter = (Filter)ViewBag.Filter;

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <a asp-controller="User" asp-action="Index"><h5>Dashboard</h5></a>
            </div>

        </div>
    </div>
</section>
<div class="content">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <form asp-controller="User" asp-action="Index">
                    <div class="card-header">
                        <h3 class="card-title">Post Table</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input asp-for="SearchString" type="text" value="@Model.SearchString" class="form-control float-right" placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div id="searchResults">
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th>Creator</th>
                                    <th>Approved</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var post in Model.Posts)
                                {
                                    <tr>
                                        <td>@post.Id</td>
                                        <td style="max-width: 200px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;">
                                            @post.Title
                                        </td>
                                        <td>@post.UpdatedOn</td>
                                        <td>@post.Creator</td>
                                        <td class="jsgrid-cell jsgrid-align-center" style="width: 100px;">
                                            <input type="checkbox"
                                                   data-id="@post.Id"
                                                   data-value="@(post.Approved ? "true" : "false")"
                                                   data-toggle="modal"
                                                   data-target="#approveModal"
                                            @(post.Approved ? "checked" : "")>
                                        </td>
                                        <td>
                                            <div class="btn-group">                                              
                                                <a class="btn btn btn-info" asp-controller="Admin" asp-action="GetPost" asp-route-id="@post.Id" role="button">View</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <nav aria-label="Pagination">
                            <ul class="pagination justify-content-center my-4">
                                <li class="page-item @((Model.PageNumber == 1) ? "disabled" : "")">
                                    <a class="page-link" href="@Url.Action("Index", "Admin", new {searchString = Model.SearchString, page = Model.PageNumber - 1 })" tabindex="-1" aria-disabled="@(Model.PageNumber == 1)">Prev</a>
                                </li>

                                @for (int i = 1; i <= numberPage; i++)
                                {
                                    if (i == 1 || i == numberPage || (i >= Model.PageNumber - 1 && i <= Model.PageNumber + 1))
                                    {
                                        <li class="page-item @(i == Model.PageNumber ? "active" : "")" aria-current="page">
                                            <a class="page-link" href="@Url.Action("Index", "Admin", new {searchString = Model.SearchString, page = i  })">@i</a>
                                        </li>
                                    }
                                    else if ((i == Model.PageNumber - 2) || (i == Model.PageNumber + 2))
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a>
                                        </li>
                                    }
                                }
                                <li class="page-item @((Model.PageNumber == numberPage) ? "disabled" : "")">
                                    <a class="page-link" href="@Url.Action("Index", "Admin", new {searchString = Model.SearchString, page = Model.PageNumber + 1})">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- Modal delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="btnDelete">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal approve -->
<div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="approveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approveModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to approve post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="btnApprove">Yes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>

        // modal delete
        $(document).on('click', 'a[data-id]', function (e) {
            var id = $(this).attr('data-id');

            var confirmDelete = document.getElementById("btnDelete");
            confirmDelete.addEventListener("click", function () {
                $('#deleteModal').modal('hide');
                $.post("/User/DeletePost", { id: id }, function () {
                    window.location.reload(true);
                });
            });

        });


        // modal publish
        $(document).on('click', 'input[data-id]', function (e) {
            var id = $(this).attr('data-id');
            var value = $(this).attr('data-value');

            var confirmApprove = document.getElementById("btnApprove");
            confirmApprove.addEventListener("click", function () {
                $('#approveModal').modal('hide');

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Admin/Approved',
                    data: { postId: id, check: value },
                    success: function () {
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            });
        });




    </script>
}







